#mailbox {
  position: relative;
  height: 400px;
}
.mailboxImg {
  position: absolute;
  height: 150px;
  top: 500px;
  right: 200px;
}
.cloud1 {
  position: absolute;
  left: 200px;
  width: 100px;
  top: 300px;
}
.cloud2 {
  position: absolute;
  width: 100px;
  left: 500px;
  top: 100px;
}
.cloud1 {
  position: absolute;
  width: 90px;
  left: 300px;
}

.mailbox-info{
  position: relative;
  top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.mailbox-github, .mailbox-linkedin, .mailbox-gmail{
  padding: 30px;
  color: #333;
  display: flex;
align-items: center;
  justify-content: center;
}
.link{

  &:hover{
    cursor: pointer;
  }
}
.a{
  color: #333;

  transform: translateX(-10px)

}
.cat{
  position: absolute;
  z-index: 2;
   right:219px;
   bottom: -70px;
  transform: scale(.7)
}